// HeroReveal.scss
@function pxToRem($pixel) {
  @return $pixel / 16 + rem;
}

:root {
  --font-open-sans: "Open Sans", serif;
  --color-white: hsla(0, 0%, 100%, 1); 
  --color-black: hsla(0, 0%, 0%, 1); 
}

body {
  font-family: var(--font-open-sans);
  font-size: pxToRem(16);
  line-height: 1.75;
}

.main {
  max-width: 100vw;
  overflow-x: hidden;
}

.intro {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.intro__heading {
  font-size: clamp(1.875rem, 8.083vw + -0.217rem, 6.25rem);
  line-height: clamp(2.813rem, 9.815vw + 0.273rem, 8.125rem);
  text-align: center;
}

.content {
  background-color: white;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;

  div:has(.hero-reveal) + & {
    padding: pxToRem(100) 0;
  }
}

.article {
  max-width: pxToRem(500);
}

/** 
 * Hero reveal
 */

.hero-reveal {
  background-color: var(--color-black);
  position: relative;
  min-height: 100vh !important;
}

.hero-reveal__header {
  align-items: center;
  background-color: var(--color-white);
  color: var(--color-black);
  display: flex;
  font-size: clamp(3.125rem, 12.61vw + -0.138rem, 15.625rem);
  line-height: clamp(4.688rem, 15.763vw + 0.609rem, 20.313rem);
  font-weight: 900;
  justify-content: center;
  left: 0;
  min-height: 100vh;
  position: relative;
  top: 0;
  will-change: transform;
  z-index: 1;
}

.hero-reveal_split {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.hero-reveal_split_item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;

  &:nth-child(1) {
    -webkit-clip-path: inset(0 0 calc(50% - 1px) 0);
    clip-path: inset(0 0 calc(50% - 1px) 0);
  }

  &:nth-child(2) {
    -webkit-clip-path: inset(calc(50% - 1px) 0 0 0);
    clip-path: inset(calc(50% - 1px) 0 0 0);
    left: 0;
    position: absolute;
    top: 0;
  }
}

.hero-reveal__content {
  color: var(--color-white);
  display: flex;
  justify-content: center;
  padding: 0;
  position: relative;
  margin-top: -60vh;
}

.hero-reveal__content-inner {
  max-width: pxToRem(500);
  position: relative;
}

.hero-reveal__content-p {
  padding-bottom: pxToRem(128);
}

.hero-reveal__parallax {
  position: absolute;
  z-index: 0;
}

.hero-reveal__parallax-clock {
  position: absolute;
  left: -100px;
  top: -400px;
}

.hero-reveal__parallax-book {
  position: absolute;
  left: -200px;
  top: -400px;
}

.hero-reveal__parallax-alice {
  position: absolute;
  top: -500px;
}

.hero-reveal__parallax-kattle {
  position: absolute;
  left: 500px;
  filter: blur(2px);
  top: -300px;
}

.hero-reveal__parallax-card {
  position: absolute;
  left: 400px;
  filter: blur(2px);
  z-index: 1;
  top: -400px;
}

// Additional utility classes
.c-wide-text {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.bg-amber-50 {
  background-color: #fffbeb;
}

.smooth-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.smooth-content {
  will-change: transform;
}